.icon {
    border: 2px solid white;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.liked {
    background-color: blue;
}